# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
cloud-api-commons/target/
cloud-consumer-order80/target/
cloud-provider-payment8001/target/
cloud-provider-payment8002/target/
cloud-eureka-server7001/target/
cloud-eureka-server7002/target/